body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee5e04, #e73c7e, #23a6d5, #7623d5);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}

















*{
    
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    color: rgb(222, 185, 216);

}






 h1{

      font-family: "Megrim", cursive;
      font-size: 1rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    
    }

    .sign {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 9.6rem;
      text-align: center;
      line-height: 1;
      color: #c6e2ff;
      animation: neon .08s ease-in-out infinite alternate;
      }
    
      @keyframes neon {
        from {
          text-shadow:
          0 0 6px rgba(202,228,225,0.92),
          0 0 30px rgba(202,228,225,0.34),
          0 0 12px rgba(30,132,242,0.52),
          0 0 21px rgba(30,132,242,0.92),
          0 0 34px rgba(30,132,242,0.78),
          0 0 54px rgba(30,132,242,0.92);
        }
        to {
          text-shadow:
          0 0 6px rgba(202,228,225,0.98),
          0 0 30px rgba(202,228,225,0.42),
          0 0 12px rgba(30,132,242,0.58),
          0 0 22px rgba(30,132,242,0.84),
          0 0 38px rgba(30,132,242,0.88),
          0 0 60px rgba(30,132,242,1);
        }
      }

input{
    text-align:center;
    color: black;

}

.more-images-btn{
    color: yellow;
}


       



